main{
    background: linear-gradient(45deg, #1b1b32, #0a0a23, #0e0c59, black);
      width: 100%;
      margin: 0 auto;
      padding: 50px 200px;
      max-width: 550px;
      box-shadow: 5px 5px 20px blue;
      border-radius: 10px;
  }
  body{
    background-image: url("../images/nature-back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
  }

 .register-title{
    color: white;
    justify-content: center;
    text-align: center;
    font-family: Courier;
    text-decoration: underline;
 }

 #form-info{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
 }

 form{
    color: white;
 }

 input[type="text"]{
    width: 200px;
    height: auto;
    padding: 0 0;
    margin: 5px 0 15px 0;
 }

 input[type="number"]{
    width: 200px;
    height: auto;
    padding: 0 0;
    margin: 5px 0 15px 0;
 }

 input[type="radio"]{
    margin-bottom: 15px;
 }

input[type="email"]{
    width: 200px;
    height: auto;
    padding: 0 0;
    margin: 5px 0 15px 0;
}

radio:hover{
    box-shadow: 0px 0px 20px lightblue;
}

span{
    font-weight: bold;
    font-style: italic;
    color: red;
}

input[type="password"]{
    width: 200px;
    height: auto;
    padding: 0 0;
    margin: 5px 0 15px 0;
}

.profile-title{
    font-family: Courier;
    text-decoration: underline;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

#profile-pic{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
}

#description{
    margin-bottom: 10px;
}

textarea{
    margin-bottom: 100px;
    padding-bottom: 100px;
}

#form-custom{
    margin-bottom: 50px;
}

button{
    width: 10rem;
    height: 40px;
}

button:hover{
    transform: scale(1.2);
    background-color: brown;
    box-shadow: 0px 0px 20px brown;
}

a{
    text-decoration: none;
}

.finish-title{
    color: white;
    justify-content: center;
    text-align: center;
    font-family: Courier;
    text-decoration: underline;
}

.finish-words{
    color: white;
    justify-content: center;
    text-align: center;
    font-family: Courier;
    padding-bottom: 50px;
}

.home{
    color: white;
    font-family: Courier;
    padding-bottom: 100px;
}

.logo{
    width: 40px;
    height: auto;
    text-decoration: none;
}

.main-head{
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
}

.main-head a{
    border: none;
    width: 160px;
}

.main-head img{
    box-shadow: 0px 0px 0px;
}